@media only screen and (max-width: 1768px) {
  body {
    font-family: $fontSpace;
    font-size: 3.646vw;
    font-weight: 400;
    line-height: 1.5;
    color: $clr_white;
    background-color: $color_4;
  }
  .show_pc {
    display: none !important;
  }
  main {
    overflow: hidden;
  }
  .row {
    padding: 0 5.208vw;
    max-width: 100%;
    margin: 0 auto;
  }
  .title {
    font-size: 11.979vw;
  }
  .btn-find {
    width: 23.698vw;
    font-size: 2.604vw;
    height: 5.599vw;
    margin: 2.604vw 0 0;
  }
  .hambuger {
    margin-left: 3.125vw;
  }
  .header {
    padding: 5.208vw 4.948vw;
    &-main {
      width: 52.083vw;
      align-items: unset;
      &__link {
        width: 3.906vw;
        height: 3.906vw;
      }
    }
    .menu {
      &-item {
        a {
          font-size: 4.167vw;
        }
      }
    }
  }
  .mv {
    height: 100vh;
    padding-bottom: 13.021vw;
    &-slide {
      align-items: center;
      &__image {
        &:before {
          height: 100%;
        }
      }
      &__content {
        .b-ttl {
          font-size: 14.323vw;
        }
        .b-group {
          flex-direction: column;
          p {
            font-size: 2.344vw;
          }
        }
      }
    }
    .fun {
      right: 2.604vw;
      bottom: 37.109vw;
      &:after {
        display: none;
      }
    }
    .swiper {
      &-pagination {
        margin: 0 0 30.729vw 6.51vw;
      }
    }
  }
  .entertainment {
    &-head {
      padding-left: 0;
    }
    .movie {
      .videos {
        width: 100%;
        height: 49.479vw;
        margin-top: 0;
      }
    }
    .text-link {
      margin: 5.208vw 0 1.302vw;
      font-size: 3.125vw;
    }
  }
  .registration {
    flex-direction: column;
    &:before {
      display: none;
    }
    &-head {
      width: 100%;
      padding-right: 0;
    }
    .step {
      width: 100%;
      padding-right: 0;
      margin: 9.115vw 0 19.531vw;
      .qrcode {
        position: relative;
        margin-left: 6.901vw;
        width: 26.042vw;
        height: 26.042vw;
      }
      .clickhere {
        position: relative;
        top: 0;
        right: 0;
        margin-left: 6.901vw;
        font-size: 2.604vw;
        width: 15.625vw;
        height: 5.208vw;
      }
      &-items {
        & + .step-items {
          margin-top: 10.938vw;
        }
        &.custom {
          .des-cts {
            width: 100%;
          }
        }
      }
      .number {
        top: -2.604vw;
        left: 1.432vw;
        font-size: 9.375vw;
        min-width: 5.99vw;
        &:before {
          width: 9.115vw;
          height: 10.026vw;
          top: 2.604vw;
          left: -1.302vw;
          border-radius: 1.042vw;
        }
      }
      .des {
        margin-left: 2.604vw;
        &-ttl {
          padding: 2.734vw 2.604vw 2.734vw 6.901vw;
          font-size: 4.427vw;
          margin-bottom: 1.172vw;
          &:before {
            width: 79.427vw;
            left: 3.125vw;
          }
        }
        &-cts {
          width: 100%;
          padding-left: 6.901vw;
        }
      }
    }
  }
  .attractions {
    padding: 13.021vw 5.208vw;
    &-head {
      display: block;
      margin-bottom: 3.906vw;
      .flag {
        font-size: 3.385vw;
        max-width: 100%;
        margin: 2.604vw 0 0;
        padding: 0;
        text-align: right;
        padding-right: 1.302vw;
        &:before,
        &:after {
          top: 1.953vw;
          width: 1.693vw;
          height: 1.693vw;
        }
        &:before {
          right: -1.953vw;
        }
        &:after {
          right: -3.906vw;
        }
      }
    }
  }
  .cheb {
    flex-direction: column;
    &-group {
      width: 100%;
      padding: 0;
      .name {
        padding: 1.172vw 3.385vw 0 0;
        font-size: 4.167vw;
      }
      &__item {
        display: none;
        height: 8.333vw;
        border-radius: 1.302vw 2.604vw 1.302vw 2.604vw;
        &.active {
          display: block;
          width: 100%;
          padding-right: 6.641vw;
        }
      }
    }
    &-detail {
      width: 100%;
      height: 67.448vw;
      display: block;
      margin: 3.906vw auto 0;
      .thumb {
        position: relative;
      }
      .info {
        width: 100%;
        top: -2.604vw;
        padding: 0 0 0 4.297vw;
        p {
          width: 100%;
        }
      }
      .btn-more {
        bottom: 7.682vw;
        right: 0.391vw;
        width: 17.318vw;
        height: 5.339vw;
        font-size: 2.083vw;
      }
    }
  }
  .cta {
    padding: 19.531vw 5.208vw 14.323vw;
    &-banner {
      font-size: 4.948vw;
      padding: 10.417vw 5.208vw 7.813vw;
      border-radius: 6.51vw;
      &:before {
        content: "";
        width: 28.646vw;
        height: 28.646vw;
        top: -19.531vw;
        left: 50%;
        transform: translateX(-50%);
      }
      span {
        font-size: 2.865vw;
        margin-top: 3.646vw;
      }
    }
    &-button {
      width: 26.693vw;
      height: 8.854vw;
      font-size: 4.167vw;
      border-radius: 2.344vw;
      top: auto;
      bottom: -5.859vw;
      right: 50%;
      transform: translateX(50%);
    }
  }
  .footer {
    padding: 10.417vw 0;
    &-top {
      flex-direction: column;
      margin-bottom: 10.417vw;
      .ft-left {
        .ft-logo {
          width: 39.063vw;
          height: 25.391vw;
        }
      }
      .ft-center {
        max-width: 100%;
        margin: 3.906vw 0 0;
        p {
          font-size: 3.646vw;
        }
      }
      .ft-right {
        margin: 3.906vw 0 0;
        p {
          font-size: 3.646vw;
          line-height: 1.3;
          text-align: left;
        }
      }
    }
    &-bottom {
      flex-direction: column;
      align-items: center;

      .ft-social {
        justify-content: center;
        width: 58.333vw;
        margin-bottom: 5.208vw;
        &__link {
          width: 8.333vw;
          height: 8.333vw;
          margin: 0.651vw 1.953vw;
          .ico {
            height: 8.333vw;
          }
        }
      }
      .copyright {
        margin-left: 0;
        padding: 0;
        p {
          font-size: 3.646vw;
        }
      }
    }
    .toTop {
      width: 10.417vw;
      height: 10.417vw;
      bottom: auto;
      top: 0;
    }
  }
}
