@media only screen and (min-width: 769px) and (max-width: 1511px) {
  body {
    font-family: $fontSpace;
    font-size: 1.058vw;
    font-weight: 400;
    line-height: 1.5;
    color: $clr_white;
    background-color: $color_4;
  }
  .show_sp {
    display: none !important;
  }
  .row {
    max-width: 84.656vw;
    width: 100%;
    margin: 0 auto;
  }
  .link__alpha {
    cursor: pointer;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.6;
    }
  }
  main {
  }
  .header {
    position: fixed;
    width: 100%;
    padding: 1.323vw 3.042vw;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    &-logo {
      width: 8.333vw;
      height: 2.778vw;
      flex-shrink: 0;
      position: relative;
      top: 0.198vw;
      a {
        display: block;
      }
    }
    &-main {
      width: 33.069vw;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      &__nav {
        display: flex;
      }
      &__link {
        width: 1.852vw;
        height: 1.852vw;
        a {
          display: block;
        }
      }
    }
    .menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: $color_3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3.968vw 6.614vw;
      opacity: 0;
      transform: translateY(-100%);
      transition: all 0.5s ease-in-out;
      &.active {
        transform: translateY(0);
        opacity: 1;
      }
      &-item {
        width: 100%;
        padding: 2.646vw 0;
        & + .menu-item {
          border-top: 0.066vw solid $color_2;
        }
        a {
          font-size: 2.116vw;
          text-align: center;
          display: block;
        }
      }
    }
  }
  .hambuger {
    width: 3.175vw;
    height: 3.175vw;
    background-color: $color_3;
    border-radius: 50%;
    margin-left: 2.116vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0.397vw;
    cursor: pointer;
    z-index: 2;
    &.active {
      background-color: $color_2;
      span {
        background-color: transparent;
        &:before {
          transform: rotate(-135deg);
          background-color: $color_3;
          top: 0;
        }
        &:after {
          transform: rotate(135deg);
          background-color: $color_3;
          top: 0;
        }
      }
    }
    span {
      width: 0.794vw;
      height: 0.132vw;
      background-color: $color_2;
      border-radius: 0.331vw;
      display: block;
      position: relative;
      transition: all 0.3s ease;
      &:before,
      &:after {
        content: "";
        width: 1.257vw;
        height: 0.132vw;
        background-color: $color_2;
        border-radius: 0.331vw;
        display: block;
        position: absolute;
        right: 0;
        transition: all 0.3s ease;
      }
      &:before {
        top: -0.529vw;
      }
      &:after {
        top: 0.529vw;
      }
    }
  }
  .title {
    font-family: $fontBig;
    font-size: 4.762vw;
    font-weight: 700;
    letter-spacing: 0.099vw;
    line-height: 1.2;
    color: $color_2;
  }
  .footer {
    border-top: 0.066vw solid #292929;
    padding: 5.291vw 1.587vw;
    &-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.587vw;
    }
    &-bottom {
      display: flex;
      position: relative;
      .ft-social {
        display: flex;
        background-color: $color_3;
        border-radius: 19.841vw;
      }
      .ft-social__link {
        width: 2.116vw;
        margin: 0.265vw 0.463vw;
        .ico {
          display: block;
          height: 2.116vw;
          font-size: 0;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
        .ico-facebook {
          background-image: url("../images/ico-facebook.png");
        }
        .ico-ins {
          background-image: url("../images/ico-ing.png");
        }
        .ico-mail {
          background-image: url("../images/icon-mail.png");
        }
        .ico-phone {
          background-image: url("../images/icon-phone.png");
        }
      }
      .copyright {
        margin-left: auto;
        padding-right: 5.82vw;
        padding-top: 0.661vw;
        p {
          font-size: 0.926vw;
        }
      }
    }
    .ft-left {
      .ft-logo {
        display: block;
        width: 13.228vw;
        height: 6.283vw;
      }
    }
    .ft-center {
      max-width: 26.455vw;
      margin: 1.058vw 0vw 0 -0.529vw;
      p {
        font-size: 0.926vw;
      }
    }
    .ft-right {
      margin: 0.397vw 0 0;
      p {
        font-size: 0.926vw;
        line-height: 2;
        text-align: right;
      }
    }
    .toTop {
      display: block;
      width: 2.646vw;
      height: 2.646vw;
      background: url("../images/pagetop.png") no-repeat center;
      background-size: contain;
      position: absolute;
      right: 0;
      bottom: 0vw;
      transition: bottom 0.3s ease;
      &:hover {
        bottom: 0.331vw;
      }
    }
  }

  .cta {
    padding: 6.614vw 4.63vw;
    &-banner {
      max-width: 66.138vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 1.984vw 5.556vw 1.653vw 13.69vw;
      border-radius: 1.587vw;
      font-size: 2.116vw;
      font-weight: 500;
      line-height: 1;
      margin: auto;
      background: url("../images/bg-gift.png") repeat center;
      background-size: contain;
      text-align: center;
      position: relative;
      span {
        font-size: 1.058vw;
        margin-top: 0.397vw;
      }
      &:before {
        content: "";
        width: 14.55vw;
        height: 14.55vw;
        background: url("../images//gift.png") no-repeat center;
        background-size: contain;
        position: absolute;
        left: 0;
        top: 42%;
        transform: translateY(-50%);
      }
    }
    &-button {
      width: 7.606vw;
      height: 2.91vw;
      font-size: 1.058vw;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      color: $color_3;
      background-color: $clr_white;
      border-radius: 0.794vw;
      position: absolute;
      right: -3.836vw;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .btn-more {
    width: 10.251vw;
    height: 2.91vw;
    background-color: $color_2;
    border-radius: 3.307vw;
    font-size: 1.058vw;
    color: $color_4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
  .attractions {
    padding-bottom: 6.812vw;

    &-head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3.373vw;
      .title {
        flex-shrink: 0;
      }
      .flag {
        margin-left: auto;
        max-width: 26.455vw;
        font-weight: 500;
        color: $color_2;
        padding-right: 3.704vw;
        padding-top: 2.116vw;
        position: relative;
        &:before {
          content: "";
          width: 0.86vw;
          height: 0.86vw;
          -webkit-clip-path: polygon(100% 0, 0 52%, 100% 100%);
          clip-path: polygon(100% 0, 0 52%, 100% 100%);
          background-color: $color_5;
          position: absolute;
          top: 2.381vw;
          right: 1.323vw;
        }
        &:after {
          content: "";
          width: 0.86vw;
          height: 0.86vw;
          -webkit-clip-path: polygon(100% 0, 0 52%, 100% 100%);
          clip-path: polygon(100% 0, 0 52%, 100% 100%);
          background-color: $color_6;
          position: absolute;
          top: 2.381vw;
          right: 0.265vw;
        }
      }
    }
  }

  .cheb {
    display: flex;
    justify-content: center;
    &-group {
      width: 33.069vw;
      padding: 2.447vw 0 0 0.397vw;
    }
    &-group__item {
      width: 29.497vw;
      height: 4.233vw;
      overflow: hidden;
      border-radius: 0.661vw 1.323vw 0.661vw 1.323vw;
      background-size: contain;
      position: relative;
      transform: skew(-24deg, 0deg);
      background-size: contain;
      position: relative;
      transition: all 0.3s ease;
      & + & {
        margin-top: 0.794vw;
      }
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, rgb(217, 217, 217), 85%, rgba(217, 217, 217, 0.2) 100%);
        position: absolute;
        z-index: 2;
        transition: all 0.3s ease;
      }
      img {
        position: absolute;
        top: 0;
        left: -0.463vw;
        width: auto;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        transform: skew(24deg, 0deg);
      }
      .name {
        font-family: $fontBig;
        font-size: 2.116vw;
        text-transform: uppercase;
        color: $color_3;
        position: relative;
        z-index: 2;
        text-align: right;
        letter-spacing: 0.033vw;
        padding: 0.595vw 1.72vw 0 0;
        transform: skew(24deg, 0deg);
      }
      &.active {
        width: 34.722vw;
        padding-right: 3.373vw;
        .name {
          color: $clr_white;
        }
        &:before {
          background: linear-gradient(to left, rgb(41, 41, 41), 85%, rgba(41, 41, 41, 0.2) 100%);
        }
      }
    }
    &-detail {
      width: 51.587vw;
      height: 34.259vw;
      flex-shrink: 0;
      border-radius: 1.587vw;
      position: relative;
      display: flex;
      align-items: flex-end;
      &:after {
        content: "";
        width: 11.971vw;
        height: 3.373vw;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
      }
      .thumb {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .info {
        position: relative;
        top: -1.653vw;
        padding: 0 0 0 2.183vw;
        p {
          width: 26.455vw;
          line-height: 1.2;
        }
      }
      .btn-more {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
      }
    }
  }
  .entertainment {
    padding-bottom: 13.095vw;
    &-head {
      padding-left: 15.41vw;
      .txt {
        margin-top: 2.05vw;
      }
    }
    .movie {
      display: flex;
      flex-direction: column;
      .videos {
        width: 84.656vw;
        height: 37.5vw;
        border-radius: 1.587vw;
        margin-top: 3.175vw;
        overflow: hidden;
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
    .text-link {
      font-weight: 500;
      display: inline-flex;
      align-items: center;
      position: relative;
      margin-left: auto;
      margin-top: -1.587vw;
      &:after {
        content: "";
        width: 1.587vw;
        height: 1.587vw;
        background: url("../images/arr-right.png") no-repeat center;
        background-size: contain;
        margin-left: 0.794vw;
        display: block;
      }
    }
  }
  .registration {
    display: flex;
    padding-bottom: 13.228vw;
    position: relative;
    &:before {
      content: "";
      width: 10.251vw;
      height: 47.421vw;
      background: url("../images/logo-floating.png") no-repeat center;
      background-size: contain;
      position: absolute;
      top: 15.873vw;
      left: -3.241vw;
    }
    &-head {
      width: 37.434vw;
      padding-right: 1.323vw;
    }
    .txt {
      margin-top: 2.183vw;
    }
    .step {
      width: 41.931vw;
      margin-left: auto;
      padding-right: 1.918vw;
      &-items {
        display: flex;
        & + .step-items {
          margin-top: 5.556vw;
        }
        &.custom {
          margin-top: 3.108vw;
          .des-cts {
            width: 31.217vw;
          }
        }
      }
      .number {
        flex-shrink: 0;
        font-size: 4.762vw;
        font-weight: 700;
        color: $color_6;
        text-align: center;
        position: relative;
        min-width: 3.042vw;
        top: -0.926vw;
        left: 0.595vw;
        &:before {
          content: "";
          width: 3.307vw;
          height: 3.307vw;
          background-color: $color_3;
          border-radius: 0.529vw;
          z-index: -1;
          transform: skew(-23deg, 0);
          display: block;
          position: absolute;
          top: 1.786vw;
        }
      }
      .des {
        width: 100%;
        position: relative;
        &-ttl {
          display: flex;
          align-items: center;
          position: relative;
          font-size: 1.587vw;
          font-weight: 700;
          color: $color_2;
          padding: 1.323vw 1.323vw 1.323vw 3.505vw;
          margin-bottom: 0.595vw;
          &:before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: $color_3;
            border-radius: 0.529vw;
            z-index: -1;
            transform: skew(-24deg, 0);
            left: 1.587vw;
            display: block;
            position: absolute;
          }
        }
        &-cts {
          width: 28.439vw;
          padding-left: 3.505vw;
        }
      }
      .qrcode {
        width: 8.466vw;
        height: 8.466vw;
        position: absolute;
        top: 0.926vw;
        right: -0.331vw;
      }
      .clickhere {
        width: 5.688vw;
        height: 1.72vw;
        font-size: 0.926vw;
        font-weight: 700;
        color: $clr_white;
        background-color: $color_5;
        border-radius: 0.529vw;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 1.257vw;
        right: 9.127vw;
      }
    }
  }
  .mv {
    height: 60.847vw;
    padding-bottom: 13.228vw;
    overflow: hidden;
    position: relative;
    &-slide {
      position: relative;
      height: 100%;
      display: flex;
      align-items: flex-end;
      &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
        }
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 50%;
          background: linear-gradient(0deg, rgb(25, 25, 25) 5%, rgba(25, 25, 25, 0) 100%);
          bottom: 0;
        }
      }
      &__content {
        position: relative;
        z-index: 2;
        margin: 0 0 5.886vw 3.175vw;
        .b-ttl {
          font-family: $fontStencil;
          font-size: 7.937vw;
          font-weight: 700;
          margin-bottom: 2.381vw;
          letter-spacing: 0.086vw;
        }
        .b-group {
          display: flex;
          p {
            font-size: 0.926vw;
            line-height: 1.28;
            color: $color_2;
          }
        }
      }
    }
    .swiper {
      width: 100%;
      height: 100%;
      &-pagination {
        width: 33.069vw;
        text-align: left;
        margin: 0 0 15.608vw 3.307vw;
        z-index: 5;
        &-bullet {
          width: 0.728vw;
          height: 0.728vw;
          border: 0.066vw solid $color_2;
          border-radius: 50%;
          background-color: transparent;
          margin: 0 0.331vw !important;
          position: relative;
          &:before {
            content: "";
            width: 0.992vw;
            height: 0.992vw;
            border: 0.132vw solid $color_2;
            border-radius: 50%;
            position: absolute;
            top: -0.265vw;
            left: -0.265vw;
            opacity: 0;
            transition: all 0.3s ease;
          }
          &-active {
            background-color: $color_2;
            border: 0;
            &:before {
              opacity: 1;
            }
          }
        }
      }
    }
    .fun {
      width: 25.397vw;
      position: absolute;
      right: 3.108vw;
      bottom: 15.146vw;
      z-index: 2;
      padding: 0.728vw 1.323vw 2.646vw 0.926vw;
      background: url("../images/union.png") no-repeat top center;
      background-size: 100% auto;
      &:before {
        content: "";
        width: 5.754vw;
        height: 5.754vw;
        background: url("../images/flag.png") no-repeat center;
        background-size: contain;
        position: absolute;
        top: -2.05vw;
        left: -1.124vw;
      }
      &:after {
        content: "";
        width: 36.772vw;
        height: 27.844vw;
        background: url("../images/radian.png") no-repeat center;
        background-size: contain;
        position: absolute;
        top: -9.325vw;
        left: -6.349vw;
        z-index: -1;
      }
      &-ttl {
        font-family: $fontBig;
        font-size: 2.116vw;
        font-weight: 400;
        text-align: center;
        padding-left: 3.439vw;
        margin-bottom: 0.992vw;
        color: $color_2;
      }
      p {
        font-size: 0.926vw;
        line-height: 1.3;
        color: $color_2;
        span {
          background: #009fe3;
          background: linear-gradient(to right, #009fe3 14%, #ffffff 73%, #e30613 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      &-tel {
        position: absolute;
        color: $color_3;
        height: 2.513vw;
        background-color: $color_2;
        border-radius: 3.307vw;
        font-family: $fontLexend;
        font-size: 1.058vw;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.265vw 0 0.794vw;
        right: 0.463vw;
        bottom: 0.132vw;
        transition: all 0.2s ease;
        &:hover {
          transform: scale(1.03);
        }
        &:after {
          content: "";
          width: 1.984vw;
          height: 1.984vw;
          background: url("../images/phone-red.png") no-repeat center;
          background-size: contain;
          margin-left: 0.661vw;
        }
      }
      &-cta {
        position: absolute;
        bottom: 2.05vw;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        width: 34.722vw;
        height: 25.794vw;
        background: url("../images/radian.png") no-repeat center;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .btn-find {
    width: 9.59vw;
    height: 3.108vw;
    color: $color_2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.778vw;
    position: relative;
    top: 0.265vw;
    transition: all 0.3s ease;
    &:hover {
      color: $color_3;
      &:before {
        background-color: $color_2;
      }
    }
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      transform: skew(-23deg, 0);
      border-radius: 0.529vw;
      border: 0.066vw solid $color_2;
      position: absolute;
      z-index: -1;
      transition: all 0.3s ease;
    }
  }
  .btn-reseve {
    font-family: $fontBig;
    font-size: 2.116vw;
    font-weight: 700;
    color: $color_2;
    text-align: center;
    width: 17.526vw;
    height: 4.299vw;
    padding: 0 0 0 0.661vw;
    background: url("../images/btn-now.png") no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all 0.2s linear;
    &:hover {
      transform: scale(1.06);
    }
  }
}
