$clr_white: #fff;
$color_2: #d9d9d9;
$color_3: #292929;
$color_4: #191919;
$color_5: #e30613;
$color_6: #009fe3;
$fontSpace: "Space Grotesk", sans-serif;
$fontBig: "Big Shoulders", sans-serif;
$fontStencil: "Big Shoulders Stencil", sans-serif;
