body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #191919;
}

.show_sp {
  display: none !important;
}

.row {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .row {
    padding: 0 2vw;
  }
}

.link__alpha {
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.link__alpha:hover {
  opacity: 0.6;
}

main {
  padding-top: 100px;
}

.title {
  font-family: "Big Shoulders", sans-serif;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #d9d9d9;
}

.footer {
  border-top: 1px solid #292929;
  padding: 80px 24px;
}
@media only screen and (max-width: 768px) {
  .footer {
    padding: 5vw 5vw;
  }
}
.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
@media only screen and (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer .ft-left .ft-logo {
  display: block;
  width: 200px;
  height: 95px;
}
@media only screen and (max-width: 768px) {
  .footer .ft-left .ft-logo {
    width: 32.552vw;
    height: 13.672vw;
  }
}
.footer .ft-center {
  max-width: 400px;
  margin: 16px 0px 0 -8px;
}
@media only screen and (max-width: 768px) {
  .footer .ft-center {
    margin: 5vw 3vw 0 0;
  }
}
.footer .ft-center p {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .footer .ft-center p {
    font-size: 2.474vw;
  }
}
.footer .ft-right {
  margin: 6px 0 0;
}
@media only screen and (max-width: 768px) {
  .footer .ft-right {
    margin: 3vw 0;
  }
}
.footer .ft-right p {
  font-size: 14px;
  line-height: 2;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .footer .ft-right p {
    text-align: left;
    line-height: 1.5;
    font-size: 2.474vw;
  }
}
.footer-bottom {
  display: flex;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .footer-bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer-bottom .ft-social {
  display: flex;
  background-color: #292929;
  border-radius: 300px;
}
@media only screen and (max-width: 768px) {
  .footer-bottom .ft-social {
    padding: 0 0.5vw;
  }
}
.footer-bottom .ft-social__link {
  width: 32px;
  margin: 4px 7px;
}
@media only screen and (max-width: 768px) {
  .footer-bottom .ft-social__link {
    width: 7vw;
    margin: 1.5vw 0.8vw;
  }
}
.footer-bottom .ft-social__link .ico {
  display: block;
  height: 32px;
  font-size: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (max-width: 768px) {
  .footer-bottom .ft-social__link .ico {
    height: 7vw;
  }
}
.footer-bottom .ft-social__link .ico-facebook {
  background-image: url("../images/ico-facebook.png");
}
.footer-bottom .ft-social__link .ico-ins {
  background-image: url("../images/ico-ing.png");
}
.footer-bottom .ft-social__link .ico-mail {
  background-image: url("../images/icon-mail.png");
}
.footer-bottom .ft-social__link .ico-phone {
  background-image: url("../images/icon-phone.png");
}
.footer-bottom .copyright {
  margin-left: auto;
  padding-right: 88px;
  padding-top: 10px;
}
@media only screen and (max-width: 768px) {
  .footer-bottom .copyright {
    flex-grow: 1;
    width: 100%;
    padding-right: 0;
    padding-top: 5vw;
    padding-left: 13vw;
    padding-right: 13vw;
  }
}
.footer-bottom .copyright p {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .footer-bottom .copyright p {
    font-size: 2.84vw;
    text-align: center;
  }
}
.footer .toTop {
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/pagetop.png") no-repeat center;
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: 0px;
  transition: bottom 0.3s ease;
}
@media only screen and (max-width: 768px) {
  .footer .toTop {
    width: 10.417vw;
    height: 10.417vw;
  }
}
.footer .toTop:hover {
  bottom: 5px;
}

.cta {
  padding: 100px 70px;
}
@media only screen and (max-width: 768px) {
  .cta {
    padding: 10vw 0;
  }
}
.cta-banner {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 84px 25px 207px;
  border-radius: 24px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  margin: auto;
  background: url("../images/bg-gift.png") repeat center;
  background-size: contain;
  text-align: center;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .cta-banner {
    width: 80.125vw;
    font-size: 2.965vw;
    line-height: 1.2;
    padding: 4vw 3vw;
    border-radius: 5vw;
    text-align: center;
  }
}
.cta-banner span {
  font-size: 16px;
  margin-top: 6px;
}
@media only screen and (max-width: 768px) {
  .cta-banner span {
    margin-top: 2vw;
    font-size: 2.083vw;
  }
}
.cta-banner:before {
  content: "";
  width: 220px;
  height: 220px;
  background: url("../images//gift.png") no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 42%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .cta-banner:before {
    width: 15.625vw;
    height: 15.625vw;
    top: -11.245vw;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.cta-button {
  width: 115px;
  height: 44px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #292929;
  background-color: #fff;
  border-radius: 12px;
  position: absolute;
  right: -58px;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .cta-button {
    font-size: 2.083vw;
    width: 15.625vw;
    height: 5.425vw;
    bottom: -3.245vw;
    left: 50%;
    top: auto;
    transform: translate(-50%, 0);
  }
}

.btn-more {
  width: 155px;
  height: 44px;
  background-color: #d9d9d9;
  border-radius: 50px;
  color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.btn-more:hover {
  transform: scale(1.05);
}

.attractions {
  padding-bottom: 103px;
  padding-top: 15px;
}
.attractions-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}
.attractions-head .title {
  flex-shrink: 0;
}
.attractions-head .flag {
  margin-left: auto;
  max-width: 400px;
  font-weight: 500;
  color: #d9d9d9;
  padding-right: 56px;
  padding-top: 24px;
  position: relative;
}
.attractions-head .flag:before {
  content: "";
  width: 13px;
  height: 13px;
  -webkit-clip-path: polygon(100% 0, 0 52%, 100% 100%);
          clip-path: polygon(100% 0, 0 52%, 100% 100%);
  background-color: #e30613;
  position: absolute;
  top: 28px;
  right: 20px;
}
.attractions-head .flag:after {
  content: "";
  width: 13px;
  height: 13px;
  -webkit-clip-path: polygon(100% 0, 0 52%, 100% 100%);
          clip-path: polygon(100% 0, 0 52%, 100% 100%);
  background-color: #009fe3;
  position: absolute;
  top: 28px;
  right: 4px;
}

.cheb {
  display: flex;
}
.cheb-group {
  width: 500px;
  padding: 37px 0 0 6px;
}
.cheb-group__item {
  width: 446px;
  height: 64px;
  overflow: hidden;
  border-radius: 10px 20px 10px 20px;
  background-size: contain;
  position: relative;
  transform: skew(-24deg, 0deg);
  background-size: contain;
  position: relative;
  transition: all 0.3s ease;
}
.cheb-group__item + .cheb-group__item {
  margin-top: 12px;
}
.cheb-group__item:before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgb(217, 217, 217), 85%, rgba(217, 217, 217, 0.2) 100%);
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease;
}
.cheb-group__item img {
  position: absolute;
  top: 0;
  left: -7px;
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: skew(24deg, 0deg);
}
.cheb-group__item .name {
  font-family: "Big Shoulders", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #292929;
  position: relative;
  z-index: 2;
  text-align: right;
  letter-spacing: 0.5px;
  padding: 9px 26px 0 0;
  transform: skew(24deg, 0deg);
}
.cheb-group__item.active {
  width: 525px;
  padding-right: 51px;
}
.cheb-group__item.active .name {
  color: #fff;
}
.cheb-group__item.active:before {
  background: linear-gradient(to left, rgb(41, 41, 41), 85%, rgba(41, 41, 41, 0.2) 100%);
}
.cheb-detail {
  width: 51.59vw;
  height: 34.26vw;
  flex-shrink: 0;
  border-radius: 1.59vw;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.cheb-detail:after {
  content: "";
  width: 11.97vw;
  height: 3.37vw;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.cheb-detail .thumb {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.cheb-detail .info {
  position: relative;
  top: -1.65vw;
  padding: 0 0 0 2.18vw;
}
.cheb-detail .info p {
  width: 26.46vw;
  line-height: 1.2;
}
.cheb-detail .btn-more {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}