$fontBigShould: "Big Shoulders", sans-serif;
body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #191919;
}

.show_sp {
  display: none !important;
}

.row {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  @media only screen and (max-width: 768px) {
    padding: 0 2vw;
  }
}

.link {
  &__alpha {
    cursor: pointer;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.6;
    }
  }
}
main {
  padding-top: 100px;
}
.title {
  font-family: $fontBigShould;
  font-size: 72px;
  font-weight: 700;
}
.footer {
  border-top: 1px solid #292929;
  padding: 80px 24px;
  @media only screen and (max-width: 768px) {
    padding: 5vw 5vw;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .ft-left {
    .ft-logo {
      display: block;
      width: 200px;
      height: 95px;
      @media only screen and (max-width: 768px) {
        width: 32.552vw;
        height: 13.672vw;
      }
    }
  }
  .ft-center {
    max-width: 400px;
    margin: 16px 0px 0 -8px;
    @media only screen and (max-width: 768px) {
      margin: 5vw 3vw 0 0;
    }
    p {
      font-size: 14px;
      @media only screen and (max-width: 768px) {
        font-size: 2.474vw;
      }
    }
  }
  .ft-right {
    margin: 6px 0 0;
    @media only screen and (max-width: 768px) {
      margin: 3vw 0;
    }
    p {
      font-size: 14px;
      line-height: 2;
      text-align: right;
      @media only screen and (max-width: 768px) {
        text-align: left;
        line-height: 1.5;
        font-size: 2.474vw;
      }
    }
  }
  &-bottom {
    display: flex;
    position: relative;
    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    .ft-social {
      display: flex;
      background-color: #292929;
      border-radius: 300px;
      @media only screen and (max-width: 768px) {
        padding: 0 0.5vw;
      }
      &__link {
        width: 32px;
        margin: 4px 7px;
        @media only screen and (max-width: 768px) {
          width: 7vw;
          margin: 1.5vw 0.8vw;
        }
        .ico {
          display: block;
          height: 32px;
          font-size: 0;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          @media only screen and (max-width: 768px) {
            height: 7vw;
          }
          &-facebook {
            background-image: url("../images/ico-facebook.png");
          }
          &-ins {
            background-image: url("../images/ico-ing.png");
          }
          &-mail {
            background-image: url("../images/icon-mail.png");
          }
          &-phone {
            background-image: url("../images/icon-phone.png");
          }
        }
      }
    }
    .copyright {
      margin-left: auto;
      padding-right: 88px;
      padding-top: 10px;
      @media only screen and (max-width: 768px) {
        flex-grow: 1;
        width: 100%;
        padding-right: 0;
        padding-top: 5vw;
        padding-left: 13vw;
        padding-right: 13vw;
      }
      p {
        font-size: 14px;
        @media only screen and (max-width: 768px) {
          font-size: 2.84vw;
          text-align: center;
        }
      }
    }
  }
  .toTop {
    display: block;
    width: 40px;
    height: 40px;
    background: url("../images/pagetop.png") no-repeat center;
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 0px;
    transition: bottom 0.3s ease;
    @media only screen and (max-width: 768px) {
      width: 10.417vw;
      height: 10.417vw;
    }
    &:hover {
      bottom: 5px;
    }
  }
}
.cta {
  padding: 100px 70px;
  @media only screen and (max-width: 768px) {
    padding: 10vw 0;
  }
  &-banner {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 84px 25px 207px;
    border-radius: 24px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    margin: auto;
    background: url("../images/bg-gift.png") repeat center;
    background-size: contain;
    text-align: center;
    position: relative;
    @media only screen and (max-width: 768px) {
      width: 80.125vw;
      font-size: 2.965vw;
      line-height: 1.2;
      padding: 4vw 3vw;
      border-radius: 5vw;
      text-align: center;
    }
    span {
      font-size: 16px;
      margin-top: 6px;
      @media only screen and (max-width: 768px) {
        margin-top: 2vw;
        font-size: 2.083vw;
      }
    }
    &:before {
      content: "";
      width: 220px;
      height: 220px;
      background: url("../images//gift.png") no-repeat center;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 42%;
      transform: translateY(-50%);
      @media only screen and (max-width: 768px) {
        width: 15.625vw;
        height: 15.625vw;
        top: -11.245vw;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
  &-button {
    width: 115px;
    height: 44px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #292929;
    background-color: #fff;
    border-radius: 12px;
    position: absolute;
    right: -58px;
    top: 50%;
    transform: translateY(-50%);
    @media only screen and (max-width: 768px) {
      font-size: 2.083vw;
      width: 15.625vw;
      height: 5.425vw;
      bottom: -3.245vw;
      left: 50%;
      top: auto;
      transform: translate(-50%, 0);
    }
  }
}
.btn-more {
  width: 155px;
  height: 44px;
  background-color: #d9d9d9;
  border-radius: 50px;
  color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
}
.attractions {
  padding-bottom: 86px;
}
.cheb {
  display: flex;
  &-group {
    width: 500px;
    &__item {
      width: 446px;
      height: 64px;
      overflow: hidden;
      border-radius: 10px 20px 10px 20px;
      background-size: contain;
      position: relative;
      // background-color: #d9d9d9;
      transform: skew(-24deg, 0deg);
      background-size: contain;
      position: relative;
      transition: all 0.3s ease;
      & + & {
        margin-top: 12px;
      }
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, rgb(217, 217, 217), 85%, rgba(217, 217, 217, 0.2) 100%);
        position: absolute;
        z-index: 2;
        transition: all 0.3s ease;
      }

      img {
        position: absolute;
        top: 0;
        left: -7px;
        width: auto;
        height: 100%;
        object-fit: cover;
        transform: skew(24deg, 0deg);
      }
      .name {
        font-family: $fontBigShould;
        font-size: 32px;
        text-transform: uppercase;
        color: #292929;
        position: relative;
        z-index: 2;
        text-align: right;
        letter-spacing: 0.5px;
        padding: 9px 26px 0 0;
        transform: skew(24deg, 0deg);
      }
      &.active {
        //  background-color: #292929;
        width: 525px;
        padding-right: 51px;
        .name {
          color: #fff;
        }
        &:before {
          background: linear-gradient(to left, rgb(41, 41, 41), 85%, rgba(41, 41, 41, 0.2) 100%);
        }
      }
    }
  }
  &-detail {
    width: 780px;
    height: 518px;
    flex-shrink: 0;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    &:after {
      content: "";
      width: 181px;
      height: 51px;
      background-color: #191919;
      border-radius: 25px;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
    .info {
      position: relative;
      top: -82px;
      padding: 0 0 0 33px;
      p {
        width: 400px;
        line-height: 1.2;
      }
    }
    .btn-more {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
    }
  }
}
